name: Build WASM

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-wasm:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build WASM
      run: |
        cd cli
        export GOOS=js
        export GOARCH=wasm
        go build -o ../frontend/main.wasm main.go
