name: Build WASM

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-wasm:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Ensure module is available
      run: |
        ls -la
        cat go.mod

    - name: Tidy modules
      run: go mod tidy

    - name: Build WASM
      run: |
        export GOOS=js
        export GOARCH=wasm
        go build -o frontend/main.wasm ./cmd/wasm

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: wasm-artifact
        path: frontend/main.wasm
