name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Go Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Run tests
        run: go test -v ./tests/...

  build-wasm:
    name: Build WASM
    runs-on: ubuntu-latest
    needs: test   # Solo build si los tests pasan

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Create frontend directory
        run: mkdir -p frontend

      - name: Build WASM
        run: |
          cd cli
          GOOS=js GOARCH=wasm go build -o ../frontend/main.wasm main.go

      - name: Upload WASM artifact
        uses: actions/upload-artifact@v5
        with:
          name: wasm
          path: frontend/main.wasm
